/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-color: #000028;
  --text-color: #ff0070;
  --text-color-paragraph: #f1b2ce;
  --text-color-content: #000028;
  --accent-color: #ff0070;
  --bg-color-content: #ff0070;
  --title-color: #db00ff;
  --title-shadow: #ff0070;
  --bg-image: url('../images/cover-image-dark.png');
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');
    --bg-color: #000028;
    --bg-color-content: #ff0070;
    --text-color: #ff0070;
    --text-color-content: #000028;
    --accent-color: #ff0070;
    --title-color: #db00ff;
    --title-shadow: #ff0070;
    --text-color-paragraph: #f1b2ce;
  }
}

html.theme-dark .header__rec {
  display: block;
}
