/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #fff1f7;
  --bg-color-content: #ff8dcb;
  --text-color: #353430;
  --text-color-content: #353430;
  --accent-color: #353430;
  --title-color: #ffc2e6;
  --title-shadow: #ff8dcb;
  --text-color-paragraph: #353430;
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
}

/* Светлая тема по системным настройкам */
@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff1f7;
    --bg-color-content: #ff8dcb;
    --text-color: #353430;
    --text-color-content: #353430;
    --accent-color: #353430;
    --title-color: #ffc2e6;
    --title-shadow: #ff8dcb;
    --text-color-paragraph: #353430;
  }
}

html.theme-light .header__rec {
  display: none;
}
