/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url('../images/cover-image.png');
  --font-family: 'IBM Plex Mono', monospace;
  --text-h1-color: #db00ff;
  --text-h1-shadow: #ff0070;
  --bg-color-content: #ff0070;
  --bg-color: #000;
}

/* Светлая тема по системным настройкам */
@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #fff;
    --bg-color-content: #ff8dcb;
    --text-color: #353430;
    --text-color-content: #353430;
    --accent-color: #353430;
    --text-h1-color: #ffc2e6;
    --text-h1-shadow: #ff8dcb;
    --text-color-paragraph: #353430;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');
    --bg-color: #000028;
    --bg-color-content: #ff0070;
    --text-color: #f1b2ce;
    --text-color-content: #000028;
    --accent-color: #ff0070;
    --text-h1-color: #db00ff;
    --text-h1-shadow: #ff0070;
    --text-color-paragraph: #f1b2ce;
  }
}
